@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}
.flex {
  display: flex;
}
.container {
  width: 1024px;
  margin: auto;
}
header {
  background-image: url(img/header.png),
    linear-gradient(rgba(238, 216, 158, 5), rgba(234, 186, 85));
  min-height: 250px;
  background-position: center;
}
nav {
  margin-top: 10px;
  background-color: #bca869;
  height: 50px;
}
nav ul {
  width: 1024px;
  margin: auto;
  display: flex;
  padding-inline-start: 0px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  line-height: 50px;
  padding: 14px;
}
nav ul li a:hover {
  background-color: #eed89f;
  color: #423c26;
}
.slide {
  width: 70%;
}
